Makefile
/libtool
.deps
poke/config.h
poke/poke
poke/poke-poke.o
stamp-h1
/ABOUT-NLS
/build-aux
/build
/INSTALL.generic
*~
*.a
*.o
Makefile.in
aclocal.m4
m4
config.h.in
/configure
/config.cache
/config.log
/config.status
/configure.lineno
/gl
/gl-libpoke
/gl-libutils
/po/.gitignore
/po/.reference
/po/LINGUAS
/po/stamp-po
/po/POTFILES
/po/remove-potcdate.sed
/po/poke.pot
/po/*.gmo
/po/*.po
/po/Makevars
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/autom4te.cache/
/doc/poke.info
/doc/poke.info-[0-9]
/doc/poke.info-[0-9][0-9]
/doc/pokeint.info
/doc/pkl.info
/doc/stamp-1
/doc/stamp-vti
/doc/version.texi
/doc/version-int.texi
/doc/poke.aux
/doc/poke.cp
/doc/poke.cps
/doc/poke.log
/doc/poke.text
/doc/poke.toc
/doc/poke.tree
/doc/poke.tree.err
/poke/pcl-lex.h
/GNUmakefile
/maint.mk
/man/poke.1
/run
/libpoke/pkl-asm.pkc
/libpoke/pkl-gen.pkc
/libpoke/pkl-lex.c
/libpoke/pkl-lex.h
/libpoke/pkl-tab.c
/libpoke/pkl-tab.h
/libpoke/pvm-vm.h
/libpoke/pvm-vm1.c
/libpoke/pvm-vm2.c
/poke/pk-map-lex.c
/poke/pk-map-lex.h
/poke/pk-map-tab.c
/poke/pk-map-tab.h
/testsuite/poke.log
/testsuite/poke.sum
/testsuite/site.bak
/testsuite/site.exp
/poke.pc
/poke.pc.in
/poke-uninstalled.pc
/poke-uninstalled.sh

## Tag files created by ctags
tags
